html{
  width: 100%;
}
html body{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 1.3em;
  font-size: 20px;
}

p{
  margin-bottom: 0.5em;
}

a{
  color: black;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  display: inline-block;
}
a:hover{
  border-color: black;
}

header.site-header{
  height: 108px;
  background-color: #333333;
  background-image: url(/images/phable-white.svg);
  background-position-x: 28px;
  background-position-y: 6px;
  background-repeat: no-repeat;
  background-size: 250px 100px;
  text-indent: -9999px;
}


section, footer .footer-inner, section.intro .intro-inner{
  padding-left: 200px;
  padding-right: 490px;
  margin: 0 auto 0;
  box-sizing: border-box;
  width: 990px;
}
section{
  margin-top: 83px;
}
  section a{
    font-weight: 900;
  }
  section h2{
    font-weight: 400;
    font-size: 2.7em;
    line-height: 1em;
    margin-bottom: 0.5em;
    margin-right: -200px;
  }


section.intro{
  background-image: url(/images/header.jpg);
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  width: 100%;
  padding: 0;
}
  section.intro .intro-inner{
    padding: 0;
  }
  section.intro h1{
    text-indent: -9999px;
    background: url(/images/h-we-are-phable.svg) 0 0 no-repeat;
    background-origin: content-box;
    padding: 76px 0 0 205px;
    height: 332px;
    width: 609px;
  }
  section.intro .slogan{
    height: 100px;
    background-color: rgba(255,255,255,0.8);
    margin-left: 200px;
    margin-top: 14px;
    height: 93px;
    padding: 8px 11px;
    width: 360px;
  }

section.about{}
  section.about h2{
    text-indent: -9999px;
    background: url(/images/h-about-us.svg) 0 0 no-repeat;
  }

section.contact{}
  section.contact h2{
    text-indent: -9999px;
    background: url(/images/h-talk-to-us.svg) 0 0 no-repeat;
  }
  section.contact input,
  section.contact textarea
  {
    width: 100%;
    display: block;
    font-size: 1em;
    margin-bottom: 10px;
    border: 2px #333 solid;
  }
  section.contact input{
    height: 30px;
  }
  section.contact label{
    font-size: 0.8em;
  }
  section.contact input[type="submit"]{
    background-color: #333;
    height: 30px;
    font-weight: 400;
    color: white;
    border: none;
    width: 100px;
    margin-top: 20px;
  }
  section.contact input[name="_gotcha"]{
    display: none;
  }


footer{
  background-color: #e5e5e5;
  padding: 20px 0 10px;
  margin-top: 83px;
}
  footer .logo{
    width: 113px;
    height: 25px;
    margin-bottom: 10px;
    background-image: url(/images/phable-black.svg);
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    text-indent: -9999px;
  }
  footer p{
    font-size: 0.7em;
    line-height: 1em;
    opacity: 0.5;
  }
